/.idea
*.iml
/lib
/out
/target
/nbproject
nb-configuration.xml
/src/main/resources/META-INF/persistence.xml
/src/main/resources/config.mail.properties
/src/main/resources/config.mail.javamail.properties
*.war