/**
 * CUSTOM CSS
 */


/**********************************************************************************************************************/
/*** ROWS (row)                                                                                                       */
/**********************************************************************************************************************/




/**********************************************************************************************************************/
/*** PANELS (pnl)                                                                                                     */
/**********************************************************************************************************************/

.pnl-login{
    width: 280px;
    border: 1px solid #2d543f;
    background-color: rgba(255,255,255,0.8);
}
.pnl-login .panel-heading{
    background-color: #006064;
    background-image: url('../../images/eseco-top-bg.jpg');
    text-align: center;
}
.pnl-login .panel-heading img{
    width: 100px;
}
.pnl-login .panel-footer{
    background-color: #006064;
    color: #fff;
}


/* MEDIA QUERY FOR EXTRA SMALL/PHONE DEVICES */
@media only screen and (max-width : 480px) {
    .pnl-login{
        width: 100%;
    }
}