/**
 * CUSTOM CSS
 */


/**********************************************************************************************************************/
/*** PERSPECTIVE VIEW */
/**********************************************************************************************************************/
/*
.tab-pane{
    padding-top:10px;
}

.container{
    max-width:900px;
}
.inbox_people {
    background: #fff;
    float: left;
    overflow: hidden;
    width: 30%;
    border-right: 1px solid #ddd;
}
.inbox_msg {
    border: 1px solid #ddd;
    clear: both;
    overflow: hidden;
}
.top_spac {
    margin: 20px 0 0;
}
.recent_heading {
    float: left;
    width: 40%;
}
.srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
    padding: 0;
}
.headind_srch {
    padding: 10px 29px 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
}
.recent_heading h4 {
    color: #0465ac;
    font-size: 16px;
    margin: auto;
    line-height: 29px;
}
.srch_bar input {
    outline: none;
    border: 1px solid #cdcdcd;
    border-width: 0 0 1px 0;
    width: 80%;
    padding: 2px 0 4px 6px;
    background: none;
}
.srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
}
.srch_bar .input-group-addon {
    margin: 0 0 0 -27px;
}
.chat_ib h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
}
.chat_ib h5 span {
    font-size: 13px;
    float: right;
}
.chat_ib p {
    font-size: 12px;
    color: #989898;
    margin: auto;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.chat_img {
    float: left;
    width: 11%;
}
.chat_img img {
    width: 100%
}
.chat_ib {
    float: left;
    padding: 0 0 0 4px;
    width: 100%;
}
.chat_people {
    overflow: hidden;
    clear: both;
}
.chat_list {
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 4px;
}
.inbox_chat {
    height: 261px;
    overflow-y: scroll;
}
.active_chat {
    background: #e8f6ff;
}
.incoming_msg_img {
    display: inline-block;
    width: 6%;
}
.incoming_msg_img img {
    width: 100%;
}
.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}
.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 0 15px 15px 15px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}
.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}
.received_withd_msg {
    width: 75%;
}
.mesgs{
    float: left;
    padding: 30px 15px 0 25px;
    width:70%;
}
.sent_msg p {
    background:#0465ac;
    border-radius: 12px 15px 15px 0;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}
.outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
}
.sent_msg {
    float: right;
    width: 75%;
}
.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
    outline:none;
}
.type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
}
.msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border:none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
}
.messaging {
    padding: 0 0 5px 0;
}
.msg_history {
    height: 232px;
    overflow-y: auto;
}
.navbar-brand {
    position: relative;
    z-index: 2;
}
.navbar-nav.navbar-right .btn {
    position: relative;
    z-index: 2;
    padding: 4px 20px;
    margin: 10px auto;
}
.navbar .navbar-collapse {
    position: relative;
}
.navbar .nav-collapse {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding-right: 120px;
    padding-left: 80px;
    width: 100%;
}
.navbar.navbar-default .nav-collapse {
    background-color: #f8f8f8;
}
.navbar.navbar-inverse .nav-collapse {
    background-color: #222;
}
.navbar .nav-collapse .navbar-form {
    border-width: 0;
    box-shadow: none;
}
.nav-collapse>li {
    float: right;
}
.btn.btn-circle {
    border-radius: 50px;
}
.btn.btn-outline {
    background-color: transparent;
}
@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child {
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar .nav-collapse {
        margin: 7.5px auto;
        padding: 0;
    }
    .navbar .nav-collapse .navbar-form {
        margin: 0;
    }
    .nav-collapse>li {
        float: none;
    }
}
nav.navbar.navbar-default {
    background: #6389a8;
    border-color: #6389a8;
    margin-bottom: 0;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}
.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}
.chat li.right .chat-body {
    margin-right: 35px;
}
.chat li .chat-body p {
    margin: 0;
    color: #777777;
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
}
.navbar-nav>li::before {
    content: '|';
    position: absolute;
    color: #fff;
    top: 16px;
}
.navbar-nav>li:first-child::before {
    content: '';
}
.panel .slidedown .glyphicon, .chat .glyphicon {
    margin-right: 5px;
}
*/



/**********************************************************************************************************************/
/*** ELEMENTS (el)                                                                                                    */
/**********************************************************************************************************************/

.el-notification-number{
    padding: 1px 6px;
    border-radius: 10px;
}
.el-notification-number-none{
    background: #333;
}
.el-notification-number-one-or-more{
    background: #ff0000;
}



/**********************************************************************************************************************/
/*** ROWS (row)                                                                                                       */
/**********************************************************************************************************************/




/**********************************************************************************************************************/
/*** PANELS (pnl)                                                                                                     */
/**********************************************************************************************************************/

.pnl-login{
    width: 280px;
    border: 1px solid #2d543f;
    background-color: rgba(255,255,255,0.8);
}
.pnl-login .panel-heading{
    background-color: #006064;
    background-image: url('../../images/eseco-top-bg.jpg');
    text-align: center;
}
.pnl-login .panel-heading img{
    width: 100px;
}
.pnl-login .panel-footer{
    background-color: #006064;
    color: #fff;
}

.pnl-register{
    width: 400px;
    border: 1px solid #2d543f;
    background-color: rgba(255,255,255,0.8);
}
.pnl-register .panel-heading{
    background-color: #006064;
    background-image: url('../../images/eseco-top-bg.jpg');
    text-align: center;
}
.pnl-register .panel-heading img{
    width: 100px;
}
.pnl-register .panel-footer{
    background-color: #006064;
    color: #fff;
}

.pnl-experiments{
    display: flex;
    border: 1px solid #dddddd;
    margin-bottom: 20px;
}
.pnl-experiments .panel{
    width: 25%;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
}
.pnl-experiments .panel-body{
    height: 100%;
}
.pnl-experiments .panel-heading{
    border-radius: 0;
    height: 50px;
}
.pnl-experiments .panel-title{
    color: #fff;
}
.pnl-experiments .panel-heading h2{
    line-height: 28px;
}

.pnl-experiments .panel-phase01{
    background: #eff3f4;
}
.pnl-experiments .panel-phase01 .panel-heading{
    background: #0097a7;
}

.pnl-experiments .panel-phase02{
    background: #ebeff0;
}
.pnl-experiments .panel-phase02 .panel-heading{
    background: #0288d1;
}

.pnl-experiments .panel-phase03{
    background: #eff3f4;
}
.pnl-experiments .panel-phase03 .panel-heading{
    background: #f57f17;
}

.pnl-experiments .panel-phase04{
    background: #ebeff0;
}
.pnl-experiments .panel-phase04 .panel-heading{
    background: #96aab1;
}



/* MEDIA QUERY FOR EXTRA SMALL/PHONE DEVICES */
@media only screen and (max-width : 480px) {
    .pnl-login, .pnl-register{
        width: 100%;
    }
}


/**********************************************************************************************************************/
/*** BOXES (box)                                                                                                      */
/**********************************************************************************************************************/

.box-experiment {
    box-shadow: 1px 1px 2px #bbb;
    border-radius: 4px;
    background: #fff;
    padding: 8px;
    margin-bottom: 10px;
}
.box-experiment p{
    color: #777;
}